<%- include("partials/header"); -%>

<h1>Contact</h1>

<p><%= contactContent %></p>
<a href="http://https://www.linkedin.com/in/rafael-n-nicolau/">on Linkedin</a><br>
<a href="mailto:nicolaurafael@hotmail.com">My email: nicolaurafael@hotmail.com</a><br>
<a href="tel:+4917669671984">My Germany's number</a><br>
<a href="tel:+5511971760403">My Brazilian's number</a><br>

<%- include("partials/footer"); -%>